<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../static/main.css?<?=filemtime('../static/main.css');?>"">
  <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet"> 
<title> Movie Recommendation</title>
</head>
<body>
  <div class="container">
    <div class="heading">
      <h1>Movie Recommender</h1>
    </div>
    <div class="whole">
      <div class = "input_area">
          <h1>Enter a movie that you liked</h1>
      
      <form action="{{ url_for('index') }}" method="POST">
        <input list="browsers" name="browser" class="input-movie">
        <datalist id="browsers">
            {% for i in range(4600) %}
              <option value="{{ data[i] }}"></option>
            {% endfor %}
        </datalist>
        <br>
        <button type="submit" class="btn btn-success submit-button">Submit</button>
      </form>
      </div>

      <div class = "output_area">
        <h1>Some movies you may like</h1>
        <div class="output-movies">
          <div class="output-content">{{ recommended_movie }}</div>
        </div>
        
      </div>

    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</body>
</html>
